body {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFA;
  color: #040404;
}

.accent {
  color: #CF61CF;
}

.content {
  height: 100vh;
}

.up-background {
  height: 50%;
  background: linear-gradient(to bottom, #040404, #D062D1);
}

.down-background {
  height: 50%;
  background: linear-gradient(to bottom, #D062D1, #040404);
}

#file-upload-input {
  display: none;
}

.custom-button,
input[type="file"]::file-selector-button {
  background-color: #9C6FE2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.custom-button:disabled {
  background-color: #9CA3AF;
  cursor: not-allowed;
}

.custom-button:disabled:hover {
  background-color: #9CA3AF;
}

.custom-button:hover,
input[type="file"]::file-selector-button:hover {
  background-color: #a053be
}

input[type="file"]::file-selector-button {
  margin-right: 1rem;
}

.custom-button-centered {
  position: absolute;
  top: -20px;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  background-color: #623771;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #ea41a6
}

.block-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  gap: 1rem;
}

.up-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.down-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.upload-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.main-title {
  color: #EFEDE8;
  font-size: 54px;
  text-align: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 1rem;
  background-color: #EFEDE8;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
}

.login-block--wide {
  width: 655px;
}

.login-title {
  font-size: 44px;
  font-weight: 600;
  margin: 0 0 1rem;
}

.login-label {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.login-input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
  outline: none;
}

.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.upload-title {
  margin-bottom: 2rem;
  color: #EFEDE8;
  font-size: 44px;
  font-weight: 600;
}

.upload-input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 0;
  border-radius: 5px;
  outline: none;
}

.upload-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #EFEDE8;
  border-radius: 5px;
  gap: 1rem;
  border: 1px solid #9CA3AF;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #EFEDE8;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
}

.chat-title {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
}

.messages-block {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 8.25rem);
  padding: 2rem;
  background-color: #EFEDE8;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
  flex: 1;
}

.messages-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: 1rem;
  overflow: auto;
}

.message-item {
  display: flex;
  padding: 0.5rem;
  max-width: 50%;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
}

.question {
  align-self: flex-start;
  background-color: #76CA66;
}

.answer {
  align-self: flex-end;
  background-color: #B3CEE2;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
  gap: 1rem;
}

.message-input {
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #9CA3AF;
  flex: 1;
}

.upload-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.select-file {
  padding: 10px 16px;

}

.error {
  color: #E44A59;
  font-size: 14px;
  margin: 1rem 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border-width: 0;
}

.description-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  color: #EFEDE8;
}

.description-title {
  font-size: 34px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.position-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}
