{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center">
    <h1>PDF-Responser WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <br>
    Upload PDF-file:
    <br>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file">
        <button type="button" id="submitButton1">Upload File</button>
    </form>
    <br>
    // select pdf from db by id:
    <h1>PDF ID:</h1>
    <input type="number" id="numberInput">
    <button id="submitButton2">Submit</button>


    {% if filename %}
    <h2>PDF file: {{ filename }}</h2>
    {% endif %}
    <br>
    // chat form...:


    <form action="" onsubmit="sendMessage(event)">
        <input class="bg-green-300" type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
</ul>
</div>
<script>
<!--    // Define the URL you want to send a GET request to-->
<!--    const apiUrl1 = 'http://127.0.0.1:8000/pdffiles';-->

<!--    // Send the GET request-->
<!--    fetch(apiUrl1)-->
<!--      .then(response => {-->
<!--        if (response.ok) {-->
<!--          // If the request was successful (status code 200), you can handle the response data here-->
<!--          return response.json(); // Assuming the response is in JSON format-->
<!--        } else {-->
<!--          // Handle errors here if needed-->
<!--          console.error('GET request failed');-->
<!--        }-->
<!--      })-->
<!--      .then(data => {-->
<!--        // Handle the response data here-->
<!--        console.log(data);-->

<!--        // You can perform further actions with the data if needed-->

<!--      })-->
<!--      .catch(error => {-->
<!--        console.error('Error:', error);-->
<!--      });-->
  document.getElementById("submitButton1").addEventListener("click", function(event) {
            const fileInput = document.getElementById("fileInput");
            const formData = new FormData();

            // Append the selected file to the FormData object
            formData.append("file", fileInput.files[0]);

            // Send the POST request to your FastAPI backend
            fetch("/pdffiles", {
                method: "POST",
                body: formData,
            })
            .then(response => response.json())
            .then(result => {
                // Display the response from the FastAPI backend
                // document.getElementById("responseMessage").textContent = `File Uploaded: ${result.filename}`;

                // Redirect to the same page
                window.location.href = window.location.href;
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });

  document.getElementById("submitButton2").addEventListener("click", function() {
      const numberInput = document.getElementById("numberInput").value;

            // Create a JSON object with the number
            const data = { number: parseInt(numberInput) };

            // Send the POST request to your FastAPI backend
            fetch("/send-number", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(result => {
                // Display the response from the FastAPI backend
                document.getElementById("responseMessage").textContent = `Received: ${result.number}`;

                // Redirect to the same page
                window.location.href = window.location.href;
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });



    async function getLastMessages() {
        const url = 'http://localhost:8000/chat/last_messages'
        const response = await fetch(url, {
            method: 'GET'
        })
        return response.json()
    }

    getLastMessages()
        .then(messages => {
            appendMessage("Предыдущие 5 сообщений:")
            messages.forEach(msg => {
                appendMessage(msg.message)
            })
            appendMessage("\nНовые сообщения:")
        })

    function appendMessage(msg) {
        let messages = document.getElementById('messages')
        let message = document.createElement('li')
        let content = document.createTextNode(msg)
        message.appendChild(content)
        messages.appendChild(message)
    }

    let client_id = Date.now()
    document.querySelector("#ws-id").textContent = client_id;
    let ws = new WebSocket(`ws://localhost:8000/chat/ws/${client_id}`);
    ws.onmessage = function (event) {
        appendMessage(event.data)
    };

    function sendMessage(event) {
        let input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script>
{% endblock %}
