{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center">
    <h1>PDF-Responser WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <br>
    Upload PDF-file:
    <br>
    <form action="/pdffiles/" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <input type="submit" value="Upload file" id="submitBtn2">
    </form>
    <br>
    // select pdf from db by id:
    <h1>PDF ID:</h1>
    <input type="number" id="numberInput">
    <button id="submitButton">Submit</button>


    {% if filename %}
    <h2>PDF file: {{ filename }}</h2>
    {% endif %}
    <br>
    // chat form...:


    <form action="" onsubmit="sendMessage(event)">
        <input class="bg-green-300" type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
</ul>
</div>
<script>
<!--    // Define the URL you want to send a GET request to-->
<!--    const apiUrl1 = 'http://127.0.0.1:8000/pdffiles';-->

<!--    // Send the GET request-->
<!--    fetch(apiUrl1)-->
<!--      .then(response => {-->
<!--        if (response.ok) {-->
<!--          // If the request was successful (status code 200), you can handle the response data here-->
<!--          return response.json(); // Assuming the response is in JSON format-->
<!--        } else {-->
<!--          // Handle errors here if needed-->
<!--          console.error('GET request failed');-->
<!--        }-->
<!--      })-->
<!--      .then(data => {-->
<!--        // Handle the response data here-->
<!--        console.log(data);-->

<!--        // You can perform further actions with the data if needed-->

<!--      })-->
<!--      .catch(error => {-->
<!--        console.error('Error:', error);-->
<!--      });-->
  document.getElementById("submitBtn2").addEventListener("click", function(event) {
      event.preventDefault();
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
      const formData = new URLSearchParams();
      formData.append("grant_type", "password");
      formData.append("username", username);
      formData.append("password", password);
      formData.append("scope", "default");
      formData.append("client_id", "your-client-id");
      formData.append("client_secret", "your-client-secret");

      fetch("/auth/login", {
          method: "POST",
          headers: {
              "Content-Type": "application/x-www-form-urlencoded"
          },
          body: formData.toString()
      })
      .then(response => {
                    if (response.ok) {
                      // If the request was successful (status code 200), you can redirect to another page
                      window.location.href = 'http://127.0.0.1:8000/pages/chat';
                    } else {
                      // Handle errors here if needed
                      console.error('POST request failed');
                    }
                  })
      .catch(error => console.error("Помилка: " + error));
  });

  document.getElementById("submitButton").addEventListener("click", function() {
      const numberInput = document.getElementById("numberInput").value;

            // Create a JSON object with the number
            const data = { number: parseInt(numberInput) };

            // Send the POST request to your FastAPI backend
            fetch("/send-number", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(result => {
                // Display the response from the FastAPI backend
                document.getElementById("responseMessage").textContent = `Received: ${result.number}`;

                // Redirect to the same page
                window.location.href = window.location.href;
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });



    async function getLastMessages() {
        const url = 'http://localhost:8000/chat/last_messages'
        const response = await fetch(url, {
            method: 'GET'
        })
        return response.json()
    }

    getLastMessages()
        .then(messages => {
            appendMessage("Предыдущие 5 сообщений:")
            messages.forEach(msg => {
                appendMessage(msg.message)
            })
            appendMessage("\nНовые сообщения:")
        })

    function appendMessage(msg) {
        let messages = document.getElementById('messages')
        let message = document.createElement('li')
        let content = document.createTextNode(msg)
        message.appendChild(content)
        messages.appendChild(message)
    }

    let client_id = Date.now()
    document.querySelector("#ws-id").textContent = client_id;
    let ws = new WebSocket(`ws://localhost:8000/chat/ws/${client_id}`);
    ws.onmessage = function (event) {
        appendMessage(event.data)
    };

    function sendMessage(event) {
        let input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }
</script>
{% endblock %}
