{% extends "base.html" %}

{% block content %}
<div class="up-background"></div>
<div class="down-background"></div>
    <div class="chat-body position-wrapper">
        <div class="chat-header">
            <a class="custom-button" href="/pages/upload">Go back</a>
            <h4 class="chat-title">Chat <span class="accent">PDF</span></h4>
            <div>
                <div class="d-flex">
                    <div>User: &nbsp;</div>
                    <div class="chat-profile" id="profile"></div>
                </div>
                <div class="d-flex">
                    <div>File: &nbsp;</div>
                    <div class="chat-file" id="file"></div>
                </div>
            </div>
        </div>
        <div class="messages-block">
            <ul class="messages-list" id="messages">
            </ul>
            <div id="loader" class="loader visually-hidden">LLM is thinking...</div>
            <form class="message-form" id="chat-form">
                <input id="messageText" type="text" class="message-input" placeholder="Write your message">
                <button id="send" class="custom-button">Send</button>
            </form>
        </div>
    </div>

<script>
    const token = JSON.parse(localStorage.getItem("user-api")).access_token;
    const file_id = localStorage.getItem("file-id")

    fetch("/auth/me", {
        headers: {
            "Authorization": `Bearer ${token}`
        }
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById("profile").textContent = data.username;
    });

    fetch(`/pdffiles?file_id=${file_id}`, {
        headers: {
            "Authorization": `Bearer ${token}`
        }
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById("file").textContent = data.filename;
    });

    fetch(`/history/get_file_history?file_id=${file_id}`, {
        headers: {
            "Authorization": `Bearer ${token}`
        }
    })
    .then(response => response.json())
    .then(data => {
        data.forEach(item => {
            Object.keys(item).forEach(key => {
                var messages = document.getElementById('messages')
                if (key === 'question') {
                    var message = document.createElement('li')
                    message.classList.add('message-item', 'question')
                    var content = document.createTextNode(item.question)
                    message.appendChild(content);
                    messages.appendChild(message);
                }
                if (key === 'answer') {
                    var message = document.createElement('li')
                    message.classList.add('message-item', 'answer')
                    var content = document.createTextNode(item.answer)
                    message.appendChild(content);
                    messages.appendChild(message);
                }
                messages.scrollTop = messages.scrollHeight;
            })
        })
    });

    var ws = new WebSocket(`ws://localhost:8000/chat/ws/${token}`);

    function processMessage(event) {
        if (event.data === "history was deleted") {
            document.getElementById('messages').innerHTML = '';
            document.getElementById("loader").classList.add("visually-hidden");
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            message.classList.add('message-item', 'answer')
            var content = document.createTextNode(event.data)
            message.appendChild(content);
            messages.appendChild(message);
            return
        }
        document.getElementById("loader").classList.add("visually-hidden");
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        message.classList.add('message-item', 'answer')
        var content = document.createTextNode(event.data)
        message.appendChild(content);
        messages.appendChild(message);
        messages.scrollTop = messages.scrollHeight;
    }

    ws.onmessage = processMessage;

    function sendMessage(event) {
        event.preventDefault();
        document.getElementById("loader").classList.remove("visually-hidden");
        var input = document.getElementById("messageText")
        var message = document.createElement('li')
        message.classList.add('message-item', 'question')
        var content = document.createTextNode(input.value)
        message.appendChild(content);
        messages.appendChild(message);

        var messageWithToken = {
            text: input.value,
            accessToken: token,
            file_id: localStorage.getItem("file-id")
        };

        ws.send(JSON.stringify(messageWithToken));
        input.value = ''
        messages.scrollTop = messages.scrollHeight;
    }

    document.querySelector("#send").addEventListener("click", sendMessage);
</script>
{% endblock %}
