{% extends "base.html" %}

{% block content %}
<div class="up-background"></div>
<div class="down-background"></div>
<div class="login-wrapper position-wrapper">
  <h1 class="upload-title">Upload file and start chat</h1>
  <div class="upload-wrapper">
    <div class="upload-form">
      <select class="select-file" name="files" id="files"></select>
      <button class="custom-button" id="goToChatBtn" disabled>Go to chat</button>
    </div>
    <p>OR</p>
    <form class="upload-form"id="uploadForm">
      <input id="uploadInput" class="upload-input" type="file" accept="application/pdf" required>
      <button class="custom-button" id="uploadBtn">Upload</button>
    </form>
  </div>
</div>

<script>
  localStorage.removeItem("file-id");
  fetch("/pdffiles/get_user_files", {
      headers: {
        "Authorization": "Bearer " + JSON.parse(localStorage.getItem("user-api")).access_token
      }
  })
  .then(response => response.json())
  .then(data => {
    const selectElement = document.getElementById("files");
    const defaultOption = document.createElement("option");
    defaultOption.value = "";
    defaultOption.textContent = "Select file";
    selectElement.appendChild(defaultOption);
    data.forEach(item => {
      const option = document.createElement("option");
      option.value = item.id;
      option.textContent = item.filename;
      selectElement.appendChild(option);
    });
    selectElement.addEventListener("change", function() {
      const selectedValue = selectElement.value;
      localStorage.setItem("file-id", selectedValue);
      document.getElementById("goToChatBtn").disabled = false;
    });
  })
  .catch(error => console.error(error));

  document.getElementById("goToChatBtn").addEventListener("click", function(event) {
      event.preventDefault();
      window.location.href = "/pages/chat";
  });

  document.getElementById("uploadBtn").addEventListener("click", function(event) {
      event.preventDefault();
      const file = document.getElementById("uploadInput").files[0];
      const formData = new FormData();
      formData.append("file", file);

      fetch("/pdffiles", {
          method: "POST",
          headers: {
            "Authorization": "Bearer " + JSON.parse(localStorage.getItem("user-api")).access_token
          },
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              localStorage.setItem("file-id", data.id);
              window.location.href = "/pages/chat";
          }
      })
      .catch(error => console.error(error));
  });
</script>
{% endblock %}
